body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d7e60c;
    margin: 0;
}

.calculator {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    grid-row: 1;
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.buttons {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #e0e0e0;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #a23232;
}

.operator {
    background-color: #f9a825;
    color: #891e1e;
}

.operator:hover {
    background-color: #86837a;
}
