body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.newspaper {
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid lightblue;
  }
  
  h2 {
    column-span: all;
  }
header {
    background: hwb(240 0% 95% / 0.888);
    color: #fff;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about, #projects, #contact {
    padding: 2rem;
    text-align: center;
}

.project {
    background-image: url(pro.jpeg);
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.